
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin-bottom: 20px; 
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(154, 223, 255);
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
}
input{
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 250px;
}
table {
    border-collapse: collapse; 
    width: 100%;
    max-width: 800px;
    margin: 20px auto; 
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px 15px;
    text-align: left;
}
td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
tbody tr:hover {
    background-color: #f1f1f1;
}
td a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    transition: color 0.3s;
}
td a:hover {
    color: #0056b3;
}
td[colspan="4"] {
    text-align: center;
    font-style: italic;
    color: #555;
}
.btn {
    color: rgb(0, 0, 0);         
    border-radius: 5px;          
    font-size: 16px;

}
